pandas==2.2.3
matplotlib==3.9.2
numpy==1.26.4
osmnx==1.9.4
folium==0.18.0
networkx==2.8.8
geopandas==0.14.4
matplotlib.colors==1.0.16
shapely==2.0.6
requests==2.32.3
seaborn==0.13.2
pooch==1.8.2
bs4==0.0.2
DateTime==5.5
urllib3==2.2.3
moviepy==1.0.3
plotly==5.24.1